{% load static %}

<aside class="menu" id="menu">
    <div class="logo">
        <!-- Logo image-->
        <a href="/">
            <img src="{% static 'img/logo.png' %}" width="140" height="140" alt=""/>
        </a>
        <!-- Logo name-->
        <span>{{ site_author }}</span>
    </div>
    <!-- Mobile Navigation-->
    <a href="#menu1" class="menu-link"></a>
    <!-- Left Navigation-->
    <nav id="menu1" role="navigation">
        <a href="#chapterintroduction"><span id="link_introduction" class="active">Home</span></a>
        <a href="#chapterabout"><span id="link_about">About</span></a>
        <a href="#chapterskills"><span id="link_skills">Skills</span></a>
        <a href="#chapterexperience"><span id="link_experience">Experience</span></a>
        <a href="#chaptercertification"><span id="link_certification">Certification</span></a>
        <a href="#chaptereducation"><span id="link_education">Education</span></a>
        <a href="#chaptercontact"><span id="link_contact">Contact</span></a>
        {#        <a href="blog.html"><span id="link_blog">Blog</span></a>#}
    </nav>
    <div class="social">
        {% for social_media in social_medias %}
            <a href="{{ social_media.link }}" target="_blank" class="{{ social_media.icon }}">
                <i class="fa fa-{{ social_media.icon }}"></i>
            </a>
        {% endfor %}
    </div>
    <div class="copyright"> © {{ site_author }}<br>
        All Rights Reserved.
    </div>
</aside>
<!-- Go to top link for mobile device -->
<a href="#menu" class="totop-link">Go to the top</a>